@{
    ViewBag.Title = "Registrasi";
}

<h2>Registrasi</h2>

<p>Selamat datang @ViewBag.Nama di halaman Registrasi Pengguna</p>
<p>Email anda adalah : @ViewBag.Email</p>

<ul>
    @foreach(string nama in ViewBag.ListNama)
    {
        <li>@nama</li>
    }
</ul>

