
@{
    ViewBag.Title = "Index";
}

<h2>Daftar Mahasiswa</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nim</th>
            <th>Nama</th>
            <th>Email</th>
            <th>IPK</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var mhs in Model)
    {
        <tr>
            <td>@mhs.Nim</td>
            <td>@mhs.Nama</td>
            <td>@mhs.Email</td>
            <td>@mhs.IPK</td>
        </tr>
    }
    </tbody>
</table>
   

